.navigation {
  width: 225px;
  height: 120vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
}

.userBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
  border: 0.5px solid rgb(195, 193, 193);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userImage {
  margin: 20px 0;
  width: 80px;
  height: 80px;
}

.userName {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: larger;
}

.userEmail {
  color: #888;
}

.logoutBtn {
  margin-top: auto;
  margin-bottom: 10px;
}
